<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Bienvenue sur le Dashboard</h1>
  <a href="/positions/VEHICULE_ID">Voir les positions</a>
  <a href="/historiques/USER_ID">Voir les historiques</a>
</body>
</html>
