<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Inscription réussie</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>✅ Inscription réussie !</h1>
    <p>Merci pour votre inscription. Un administrateur vous contactera bientôt.</p>
    <a href="/login" class="login.ejs">Se connecter</a>
  </div>
</body>
</html>
